.inverted {
	color: white;
	background-color: black;
}

h1 {
	text-align: center;
}

section {
	display: inline-block;
	width: 32vw;
}

p::first-letter {
	font-size: x-large;
	border: 2px solid black;
	border-radius: 0 5px 0 8px;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

form {
	width: 50vw;
}

label {
	width: 10vw;
	display: inline-block;
}

input, textarea {
	width: 35vw;
}

input[type='submit'] {
	width:auto;
}

footer {
	position: fixed;
	z-index: 2;
	bottom: 0.5em;
	left: 0.5em;
}